.circle {
    position: relative;
    border-radius: 40px;
    hight: 40px;
    width: 40px;
    background-color: yellow;
}

h1 {
   font-family: 'Nosifer', cursive;
   float: right;
   color: black;
}

#myMap {
    position: absolute;
    left: 2px;
    right: 8px;
    top: 56px;
    bottom: 8px;
    margin: 0px;
    padding: 0px;
}
